/* http://www.fontspace.com/codeman38/press-start-2p */
@font-face {
  font-family: PressStart2P;
  src: url(/PressStart2P.woff2);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: PressStart2P;
  color: white;
  background-color: black;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

button {
  font-family: PressStart2P;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: 4px solid white;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
}

*:focus {
  outline: none;
}

.centered-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
}
