high-scores {

  font-size: 20px;
  line-height: 2;

  & h2 {
    line-height: 1;
    margin: 0 0 25px;
  }

  & numbers {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: right;
  }

  & names {
    float: left;
    margin-right: 25px;
    text-align: left;
  }

  & scores {
    float: left;
  }

  & button {
    display: block;
    clear: both;
    margin: 0 auto;
  }

}
