hud {

  & .top-score {
    left: unset;
    right: 15px;
  }

  & level {
    position: absolute;
    top: 45px;
    left: 15px;
    font-size: 20px;
  }

  & controls {
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
  }

}
